
@{
    ViewBag.Title = "Diagrams";
}

<h2>Diagrams</h2>
<h3>Class diagram</h3>

<img src="~/Images/class diagram.jpg" />

<h3>Use case Narratives</h3>

<div class="col-6">
    <img src="~/Images/narrative 1.png" />
</div>
<br />
<div class="col-6">
    <img src="~/Images/Narrative 2.png" />
</div>
<br />
<div class="col-6">
    <img src="~/Images/narrative3.png" />
</div>
<br />
<div class="col-6">
    <img src="~/Images/Narrative 4.png" />
</div>

<style>
    .col-6{
        width = 100px;
        height = 100px;
    }
</style>


