@{
    ViewBag.Title = "Home Page";
}

    <div class="row">
        <div class="col-md-6">

            <img src="~/Images/kidspic.png" />
        </div>

        <div class="col-md-6">
            <img src="~/Images/pic2.png" />
        </div>

    </div>
  


<div class="jumbotron">
    <h1>Child Empowerment International</h1>
    <p class="lead">Our mission is to challenge the cycle of poverty in areas of civil unrest through empowering & educating marginalized children.</p>
    <p><a href="https://childempowerment.org/" class="btn btn-primary btn-lg">Go to website &raquo;</a></p>
</div>
